<h1>Ninja succesfully created!</h1>
<p>Name : {{this.name}}</p>
<p>Rnak : {{this.rank}}</p>
<p>Available : {{this.available}}</p>
<p>Longitude : {{this.geometry.coordinates.[0]}}</p>
<p>Latitude :{{this.geometry.coordinates.[1]}}</p>

<a href="/admin">Back Admin Page</a>
<a href="/">Back Home Page</a>