<div class="nav-bar-header">
  <a href="/" class="nav-bar ninja-home" src="img/timeline.png" alt="user-home">Home</a>
  <a href="/list" class="nav-bar ninja-list" src="img/research.png" alt="user-search">Ninjas List</a>
  <a href="/admin" class="nav-bar ninja-admin" src="img/notification.png" alt="user-notifications">Admin</a>
</div>
<div class="page-container">
  <div id="homepage" class="search-box">
    <h1 class="search-box__intro">Compare and book the cheapest ninjas in your area right now man</h1>
    <div id="ninjas">
      <form action="/api/ninjas" method="GET">
        <div class="search-box__forms">
          <input type="text" class="search-box__longField" name="lng" placeholder="Enter your longitude...">
          <input type="text" class="search-box__latField" name="lat" placeholder="Enter your latitude...">
        </div>
        <input type="submit" class="search-box__submitButton" value="Find me a ninja">
      </form>

    </div>
  </div>

  <div id="ninjasResults" class="result-box">

    {{#each ninjas}}
    <p class="result-box__text">Your nearest ninjas : </p>
    <div class="result-box__container">
      <li class="result-box__list">
        <span class="result-box__name">{{this.name}}</span>
        <span class="result-box__rank">{{this.rank}}</span>
        <span class="result-box__distance"> {{this.distanceField}} Km away</span>
      </li>
      <div class="result-box__availability">
        <span {{#if this.available}} class="result-box__available">Available
          {{else}} <span class="result-box__unavailable" {{this.available}}>Not Available</span>
          {{/if}}</span>
        <span class="result-box__book">Book now</span>
      </div>
    </div>
    {{else}}
    <p>No ninjas found</p>
    {{/each}}
  </div>
</div>